<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your PWA</title>
    <link rel="manifest" href="data:application/manifest+json;charset=utf-8,%7B%22name%22%3A%20%22Your%20PWA%20Name%22%2C%20%22short_name%22%3A%20%22Your%20PWA%22%2C%20%22description%22%3A%20%22Description%20of%20your%20PWA%22%2C%20%22start_url%22%3A%20%22/index.html%22%2C%20%22display%22%3A%20%22standalone%22%2C%20%22background_color%22%3A%20%22%23ffffff%22%2C%20%22theme_color%22%3A%20%22%23000000%22%2C%20%22icons%22%3A%20%5B%7B%22src%22%3A%20%22/icon.png%22%2C%20%22sizes%22%3A%20%22192x192%22%2C%20%22type%22%3A%20%22image/png%22%7D%5D%7D">
    <!-- Add your other stylesheets and scripts here -->
</head>
<body>
    <!-- Your HTML content goes here -->
</body>
</html>
